<div class="container col-md-12" [class.containerClass] = "apply"> 
    <div class="col-md-8 col-sm-8 col-xs-10" [class.formDiv] = "apply">        
        <form >           
          <div class="form-group col-md-8">
              <label for="fromAccNumber">From Account Number:</label>
              <input type="number" class="form-control" name="fromAccNumber" [(ngModel)] = "accNumber"/>
          </div>
          <div class="form-group col-md-8">
              <label for="toAccNumber">To Account Number:</label>
              <!-- <input type="text" class="form-control" name="toAccNumber" ngModel/> -->
              <div class="form-group">
                <select class="form-control" id="sel1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
          </div>
          <div class="form-group col-md-8">
              <label for="amount">Amount:</label>
              <input type="text" class="form-control" name="amount" ngModel/>
          </div>
          <div class="form-group col-md-8">
              <label for="remarks">Remarks:</label>
              <input type="text" class="form-control" name="remarks" ngModel/>
          </div>
          <div class="col-md-5" >
              <button type="button" class="btn btn-primary" [class.btnClass] ="apply" (click) = "onTransfer();">Transfer</button>     
          </div>
          <h1>{{message}}</h1>
        </form>      
      </div>
  </div>
<router-outlet></router-outlet>
