<div class="container col-md-12" [class.containerClass] = "apply"> 
  <nav class="navbar navbar-default" [class.headerClass] = "apply">
    <div class="container-fluid">
      <div class="navbar-header col-md-7 col-sm-8">
        <h1 [class.headerText] = "apply">Online Banking</h1>
      </div>
    </div>
  </nav>
  <div class="col-md-8 col-sm-8 col-xs-10" [class.formDiv] = "apply">        
      <form (ngSubmit) = onSubmit(f) #f = "ngForm">           
        <div class="form-group col-md-8">
            <label for="customerId">Customer Id:</label>
            <input type="number" class="form-control" name="customerId" 
            [(ngModel)] = "id" required/>           
        </div>
        
        <div class="form-group col-md-8">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" ngModel required/>
        </div>
        <div class="col-md-5" >
            <button type="button" [disabled]="!f.form.valid" class="btn btn-primary" [class.btnClass] ="apply" [routerLink] = "['/home-page']">Login</button>     
        </div>
      </form>      
    </div>   
</div>
