<div class="container col-md-12" [class.containerClass] = "apply"> 
    <div class="col-md-8 col-sm-8 col-xs-10" [class.formDiv] = "apply">        
        <form >           
          <div class="form-group col-md-8">
              <label for="accNumber">Account Number:</label>
              <input type="number" class="form-control" name="accNumber" [(ngModel)] = "accountNumber"/>
          </div>
          <div class="form-group col-md-8">
              <label for="ifsc">IFSC Code:</label>
              <input type="text" class="form-control" name="ifsc" [(ngModel)] = "IFSCcode"/>
          </div>
          <div class="form-group col-md-8">
              <label for="name">Name:</label>
              <input type="text" class="form-control" name="name" [(ngModel)] = "name"/>
          </div>
          <div class="form-group col-md-8">
              <label for="email">Email:</label>
              <input type="text" class="form-control" name="email" [(ngModel)] = "email"/>
          </div>
          <div class="col-md-5" >
              <button type="button" class="btn btn-primary" [class.btnClass] ="apply" (click) = "onSave()">Save</button>     
          </div>
        </form>      
      </div>
  </div>
  
<router-outlet></router-outlet>
